.GiftContainer {
    width: auto;
    height: calc(100dvh - 64px);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    background-color: #FBF5F2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    .bgMain {
        background-size: cover;
        background-image: url("../../assets/Images/bg-main-5.webp");
        width: 100%;
        height: 100%;
    }
    .bgBlur {
        position: absolute;
        background-color: #fff;
        opacity: .1;
        transform: none!important;
        width: 100%;
        height: 100%;
    }
    .populated {
        position: absolute;
        margin: 0;
        display: flex;
        flex: 1 1;
        width: 100%;
        height: 100%;
        .widgetWrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            position: relative;
            width: 100%;
            padding: 2.5rem 2rem;

            .initialContent {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                img {
                    max-width: 120px;
                    filter: invert(43%) sepia(59%) saturate(357%) hue-rotate(357deg) brightness(97%) contrast(89%);
                    margin-bottom: .5rem;
                }
                span {
                    margin-top: .5rem;
                }
                .quote {
                    margin: 1rem 0 .5rem;
                    font-size: 12px;
                    font-style: italic;
                }
                .bridesName {
                    text-align: center;
                    color: #957443;
                    font-family: "Corinthia", Sans-serif;
                    font-size: 2rem;
                    font-weight: 700;
                    margin-top: 1rem;
                }
                button {
                    background-color: #B69889;
                    border-radius: .5rem;
                    box-shadow: 0px 0px 5px 0px #B69889;
                    padding: .5rem 1rem;
                    border: none;
                    margin-top: 1.5rem;
                    cursor: pointer;
                    position: relative;
                    display: inline-block;
                    overflow: hidden;
                    &::before, &::after{
                      content: '';
                      position: absolute;
                      top: 0;
                      left: 0;
                      height: 100%;
                      width: 100%;
                      transition: all 0.5s ease;
                      border-radius: .5rem;
                    }
  
                    i {
                      font-size: 1rem;
                      position: relative;
                      color: #FBF5F2;
                      margin-right: .5rem;
                      transition: all 0.5s ease;
                    }
                    span {
                      align-self: center;
                      position: relative;
                      color: #FBF5F2;
                    }
                    &:hover {
                      border: 1px solid #B69889;
                      i {
                        color: #B69889 !important;
                      }
                      span {
                        color: #B69889 !important;
                      }
                      
                    }
                }
                .btnExpand{
                    &::after{     
                      border-radius: .5rem;
                      box-shadow: inset 0 0 0 0px #B69889;
                    }
                    &::before{
                      border-radius: .5rem;
                      background: #ECE4DF;
                      box-shadow: inset 0 0 0 60px #B69889;
                    }
                    &:hover::before{
                      border-radius: unset;
                      color: #B69889 !important;
                      box-shadow: inset 0 0 0 0px #B69889;
                    }
                  }
            }
            .bottomContent {
                i {
                    color: #B69889 
                }
            }
        }
    }
    span {
        font-size: 14px;
        text-align: center;
        color: #635a55;
        line-height: 1.4em;
        letter-spacing: 1px;
        max-width: 380px;
    }
}

/* Mobile devices */
@media only screen and (max-width: 767px) {
    .GiftContainer {
        width: 100% !important;
    }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .GiftContainer {
        width: 100% !important;
    }
}

/* Desktops and larger screens */
@media only screen and (min-width: 1024px) {
    .GiftContainer {
        width: 480px !important;
    }
}