.GiftContainer {
    width: auto;
    height: calc(100dvh - 64px);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    background-color: #f3f1f4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
    .bgMain {
        background-size: cover;
        background-image: url("../../assets/Images/bg-main-5.webp");
        width: 100%;
        height: 100%;
    }
    .bgBlur {
        position: absolute;
        background-color: #fff;
        opacity: .6;
        transform: none!important;
        width: 100%;
        height: 100%;
    }
    .populated {
        position: absolute;
        margin: 0;
        display: flex;
        flex: 1 1;
        width: 100%;
        height: 100%;
        .widgetWrap {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            position: relative;
            width: 100%;
            height: -webkit-fill-available;
            padding: 2.5rem 2rem;
            .GiftContent {
              display: flex;
              flex: 1;
              justify-content: space-between;
              flex-direction: column;
              height: 100%;
              width: 100%;
              .initialContent {
                  display: flex;
                  flex: 1;
                  justify-content: center;
                  flex-direction: column;
                  align-items: center;
                  position: relative;
                  img {
                      max-width: 120px;
                      filter: invert(13%) sepia(5%) saturate(3027%) hue-rotate(212deg) brightness(98%) contrast(86%);
                      margin-bottom: .5rem;
                  }
                  span {
                      margin-top: .5rem;
                  }
                  .quote {
                      font-family: "Cycles Eleven", Sans-serif;
                      color: #302d3b;
                      margin: 1rem 0 .5rem;
                      font-size: 14px;
                      font-weight: bold;
                      font-style: italic;
                  }
                  .bridesName {
                      text-align: center;
                      color: #535159;
                      font-family: "Murray Hill", Sans-serif;
                      font-size: 2rem;
                      font-weight: 700;
                      margin-top: 1rem;
                  }
                  button {
                      background-color: #535159;
                      border-radius: .5rem;
                      box-shadow: 0px 0px 5px 0px #535159;
                      padding: .5rem 1rem;
                      border: none;
                      margin-top: 1.5rem;
                      cursor: pointer;
                      position: relative;
                      display: inline-block;
                      overflow: hidden;
                      &::before, &::after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        transition: all 0.5s ease;
                        border-radius: .5rem;
                      }
    
                      i {
                        font-size: 1rem;
                        position: relative;
                        color: #f3f1f4;
                        margin-right: .5rem;
                        transition: all 0.5s ease;
                      }
                      span {
                        align-self: center;
                        position: relative;
                        color: #f3f1f4;
                      }
                      &:hover {
                        border: 1px solid #535159;
                        i {
                          color: #535159 !important;
                        }
                        span {
                          color: #535159 !important;
                        }
                        
                      }
                  }
                  .btnExpand{
                      &::after{     
                        border-radius: .5rem;
                        box-shadow: inset 0 0 0 0px #535159;
                      }
                      &::before{
                        border-radius: .5rem;
                        background: #f3f1f4;
                        box-shadow: inset 0 0 0 60px #555161;
                      }
                      &:hover::before{
                        border-radius: unset;
                        color: #555161 !important;
                        box-shadow: inset 0 0 0 0px #555161;
                      }
                    }
              }
              .bottomContent {
                margin: 0 auto;
                  i {
                      color: #535159 
                  }
              }
            }

            .popupContainer {
              position: absolute;
              display: flex;
              flex-direction: column;
              background: white;
              border-radius: 12px 12px 0 0;
              left: 0;
              bottom: 0;
              z-index: 100;
              width: 100%;
              max-height: 100dvh;
              .popupContent {
                  display: flex;
                  flex: 1;
                  flex-direction: column;
                  
                  padding: 2rem;
                  .closeContainer {
                      display: flex;
                      justify-content: end;
                      i {
                          color: #535159;
                          cursor: pointer;
                          font-size: 1.5rem;
                          &:hover {
                              color: #535159;
                          }
                      }
                  }
                  h5 {
                      text-align: center;
                      color: #535159;
                      font-family: "Murray Hill", Sans-serif;
                      font-size: 2rem;
                      font-weight: 700;
                      margin: 0;
                      margin-bottom: .25rem;
                  }
                  .desc {
                    text-align: center;
                    max-width: unset;
                    margin: auto;
                  }

                  .giftContent {
                    display: flex;
                    flex-direction: column;
                    
                    .giftTabContent {
                      display: flex;
                      flex: 1;
                      flex-direction: row;
                      margin-top: .5rem;
                      border-bottom: 2px solid #535159;
                      .tabItem {
                        display: flex;
                        justify-content: center;
                        flex: 1;
                        padding: .75rem 1rem;
                        transition: all 0.5s ease;
                        cursor: pointer;
                        span, i {
                          margin-right: .25rem;
                        }
                        &.active {
                          background-color: #535159 !important;
                          opacity: 1 !important;
                          span, i {
                            color: #f3f1f4;
                            margin-right: .25rem;
                          }
                        }
                        &:hover {
                          background-color: #535159;
                          opacity: .75;
                          span, i {
                            color: #f3f1f4;
                            margin-right: .25rem;
                          }
                        }
                      }
                    }

                    .giftBankContent {
                      display: flex;
                      flex: 1;
                      flex-direction: row;
                      margin-bottom: 1rem;
                      border-bottom: 2px solid #535159;
                      .bankItem {
                        display: flex;
                        justify-content: center;
                        flex: 1;
                        padding: .75rem 1rem;
                        transition: all 0.5s ease;
                        cursor: pointer;
                        span, i {
                          margin-right: .25rem;
                        }
                        img {
                          margin: auto;
                          max-width: 100px;
                          height: fit-content;
                          max-height: 40px;
                        }
                        .bankMandiri {
                          margin-top: -1px;
                        }
                        &.active {
                          background-color: #535159 !important;
                          opacity: 1 !important;
                          span, i {
                            color: #f3f1f4;
                            margin-right: .25rem;
                          }
                        }
                        &:hover {
                          background-color: #535159;
                          opacity: .75;
                          span, i {
                            color: #f3f1f4;
                            margin-right: .25rem;
                          }
                        }
                      }
                    }

                    .amplopDigitalContent {
                      display: flex;
                      flex-direction: column;

                      .listBank {
                        display: flex;

                        .bankDetail {
                          display: flex;
                          flex-direction: column;
                          margin: auto;
                            img {
                              width: 100px;
                              height: fit-content;
                              margin: 0 auto .5rem;
                            }
  
                          .copyBankContainer {
                            display: flex;
                            flex-direction: column;
                            margin-top: 1rem;
                            .copyBankContent {
                              display: flex;
                              flex-direction: row;
                              flex: 1;
                              margin-top: .5rem;
                              input {
                                padding: auto 1rem;
                                text-align: center;
                              }
                              .btnContent {
                                display: flex;
                                flex-direction: row;
    
                                button {
                                  border-radius: unset;
                                  box-shadow: unset;
                                  margin: unset;
                                }
                              }
                            }
                          }
  
                        }
                      }


                    }

                    .kirimKadoContent {
                      display: flex;
                      flex-direction: column;
                      margin-top: .5rem;
                      span {
                        margin: auto;
                      }
                      .addressBox {
                        display: flex;
                        flex-direction: column;
                        padding: 1.5rem 1rem;
                        border: 1px dashed;
                        background-color: #f4f4f4;
                        margin-bottom: .5rem;
                        .receiver {
                          font-weight: 600;
                          margin-bottom: .5rem;
                        }
                      }
                    }
                  }
              }
          }
        }
    }
    span {
        font-size: 14px;
        text-align: center;
        color: #535159;
        line-height: 1.4em;
        letter-spacing: 1px;
        max-width: 380px;
    }
}

@media only screen and (max-height: 620px) {
  .GiftContainer {
      width: auto;
    .populated {
        .widgetWrap {
            padding: 2rem !important;
            .initialContent {
              img {
                max-width: 100px !important;
              }
              .quote {
                margin: 0.5rem 0;
              }
              .bridesName {
                margin-top: 0.5rem;
              }
            }
        }
    }

    .popupContainer {
      .popupContent {
          padding: 1rem 1.5rem 1.5rem !important;
      }
    }
  }
}

.WidgetComponent {
  position: absolute;
  z-index: 100;
  right: 8px;
  bottom: 8px;
  .listWidget {
      display: flex;
      flex-direction: column;
      .item {
          display: flex;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background: #555161;
          color: #FAF7F7;
          cursor: pointer;
          margin-top: .5rem;
          i {
              text-align: center;
              margin: auto;
          }
          :active {
              box-shadow: inset 0 0 0 0px #555161;
          }
      }
  }
}

/* Mobile devices */
@media only screen and (max-width: 767px) {
    .GiftContainer {
        width: 100% !important;
        .widgetWrap {
            align-self: center;
            padding: 2rem 1.5rem !important;

            .initialContent {
                img {
                    max-width: 120px;
                    filter: invert(13%) sepia(5%) saturate(3027%) hue-rotate(212deg) brightness(98%) contrast(86%);
                    margin-bottom: .5rem;
                }
                span {
                    font-size: .75rem !important;
                    margin-top: .5rem;
                }
                .quote {
                    margin: .5rem auto .5rem !important;
                    font-size: 14px !important;
                }
                .bridesName {
                    margin-top: .5rem !important;
                    font-size: 2rem !important;
                }
                button {
                    margin: 1rem auto !important;
                    cursor: pointer;
                    position: relative;
                    display: inline-block;
                    overflow: hidden;
                    &::before, &::after{
                      content: '';
                      position: absolute;
                      top: 0;
                      left: 0;
                      height: 100%;
                      width: 100%;
                      transition: all 0.5s ease;
                      border-radius: .5rem;
                    }
  
                    i {
                      font-size: 1rem;
                      position: relative;
                      color: #f3f1f4;
                      margin-right: .5rem;
                      transition: all 0.5s ease;
                    }
                    span {
                      align-self: center;
                      position: relative;
                      color: #f3f1f4;
                    }
                    &:hover {
                      border: 1px solid #535159;
                      i {
                        color: #535159 !important;
                      }
                      span {
                        color: #535159 !important;
                      }
                      
                    }
                }
                .btnExpand{
                    &::after{     
                      border-radius: .5rem;
                      box-shadow: inset 0 0 0 0px #535159;
                    }
                    &::before{
                      border-radius: .5rem;
                      background: #f3f1f4;
                      box-shadow: inset 0 0 0 60px #555161;
                    }
                    &:hover::before{
                      border-radius: unset;
                      color: #555161 !important;
                      box-shadow: inset 0 0 0 0px #555161;
                    }
                  }
            }
            .bottomContent {
                i {
                    color: #535159 
                }
            }
        }

        .popupContainer {
          .popupContent {
              padding: 1rem 1rem 2rem !important;
              .giftContent {
                display: flex;
                flex-direction: column;
                .giftBankContent {
                  .bankItem {
                    padding: .5rem .75rem !important;
                    img {
                      margin: auto;
                      max-width: 80px !important;
                      height: fit-content;
                      max-height: 40px;
                    }
                    .bankMandiri {
                      margin-top: 4px !important;
                    }
                  }
                }
              }
          }
        }
    }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .GiftContainer {
        width: 100% !important;
    }
}

/* Desktops and larger screens */
@media only screen and (min-width: 1024px) {
    .GiftContainer {
        width: 480px !important;
    }
}

.btnContent {
  display: flex;

  button {
      flex: 1;
      background-color: #535159;
      border-radius: .5rem;
      box-shadow: 0px 0px 5px 0px #535159;
      padding: .5rem 1rem;
      border: none;
      margin-top: 1rem;
      cursor: pointer;
      position: relative;
      display: inline-block;
      overflow: hidden;
      &::before, &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: all 0.5s ease;
        border-radius: .5rem;
      }

      i {
        font-size: 1rem;
        position: relative;
        color: #f3f1f4;
        margin-right: .5rem;
        transition: all 0.5s ease;
      }
      span {
        align-self: center;
        position: relative;
        color: #f3f1f4;
      }
      &:hover {
        border: 1px solid #535159;
        i {
          color: #535159 !important;
        }
        span {
          color: #535159 !important;
        }
        
      }
  }

  .btnExpand{
      &::after{     
        border-radius: .5rem;
        box-shadow: inset 0 0 0 0px #535159;
      }
      &::before{
        border-radius: .5rem;
        background: #f3f1f4;
        box-shadow: inset 0 0 0 60px #535159;
      }
      &:hover::before{
        border-radius: unset;
        color: #535159 !important;
        box-shadow: inset 0 0 0 0px #535159;
      }
  }
}