.ProtocolContainer {
    width: auto;
    height: calc(100dvh - 64px);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    background-color: #FBF5F2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    .bgMain {
        background-size: cover;
        background-image: url("../../assets/Images/bg-main-4.webp");
        width: 100%;
        height: 100%;
    }
    .bgBlur {
        position: absolute;
        background-color: #fff;
        opacity: .1;
        transform: none!important;
        width: 100%;
        height: 100%;
    }
    .populated {
        position: absolute;
        margin: 0;
        display: flex;
        flex: 1 1;
        width: 100%;
        height: 100%;
        .widgetWrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 100%;
            padding: 2.5rem 2rem;

            .protocolContent {
                display: flex;
                flex-direction: column;
                h3 {
                    text-align: center;
                    color: #957443;
                    font-family: "Corinthia", Sans-serif;
                    font-size: 2rem;
                    font-weight: 700;
                    margin: 0;
                    margin-bottom: .5rem;
                }

                .listItem {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-top: 1rem;
                    .item {
                        display: flex;
                        flex-direction: column;
                        margin: 1rem 1.5rem;
                        min-width: 130px;
                        .thumbnail {
                            display: flex;
                            justify-content: center;
                            background-color: #B69889;
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                            margin: 0 auto .25rem;
                            i {
                                color: #FBF5F2;
                                font-size: 2.5rem;
                                align-self: center;
                            }

                        }
                        span {
                            font-weight: 600;
                            letter-spacing: unset;
                        }
                    }
                }
            }

        }
    }
    span {
        font-size: 14px;
        text-align: center;
        color: #635a55;
        line-height: 1.4em;
        letter-spacing: 1px;
        max-width: 380px;
    }
}

/* Mobile devices */
@media only screen and (max-width: 767px) {
    .ProtocolContainer {
        width: 100% !important;
        .listItem {
            .item {
                margin: 1rem !important;
            }
        }
    }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .ProtocolContainer {
        width: 100% !important;
    }
}

/* Desktops and larger screens */
@media only screen and (min-width: 1024px) {
    .ProtocolContainer {
        width: 480px !important;
    }
}
  