.NavbarPagesContainer {
    width: 100%;
    height: 64px;
    background-color: #f3f1f4;
    color: #555161;
    font-size: .75rem;
    padding: 0;

    .NavThumbsContainer {
        position: relative;
        height: 100%;
        margin-left: 0!important;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        overflow-x:auto;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }
        
        .ItemNav {
            display: flex;
            flex: 1;
            min-width: 100px;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            i {
                position: relative;
                font-style: normal;
                font-size: 1.5rem;
                line-height: 1.5;
                font-weight: bold;
                transition: all 0.25s ease;
            }
            span {
                position: relative;
            }
            &.Selected {
                background: #555161 !important;
                color: #FAF7F7;
                text-align: center;
            }
            &::before, &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                transition: all 0.25s ease;
                color: #FAF7F7 !important;  
            }
            &::after{
                box-shadow: inset 0 0 0 0px #555161;
            }
            &::before{
                margin-left: -100%;
                box-shadow: inset 0 0 0 100% #555161;
            }
            &:hover::before{
                margin-left: 0;
                background: #555161;
                
            }
            &:hover {
                color: #FAF7F7 !important;
            }
        }
    }
}
