.BrideContainer {
    width: auto;
    height: calc(100dvh - 64px);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    background-color: #f3f1f4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    .WidgetContainer {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        .bgMain {
            background-size: cover;
            background-image: url("../../assets/Images/bg-main-1.webp");
            width: 100%;
            height: 100%;
        }
        .bgBlur {
            position: absolute;
            background-color: #fff;
            opacity: .5;
            transform: none!important;
            width: 100%;
            height: 100%;
        }
        .populated {
            position: absolute;
            margin: 0;
            display: flex;
            flex: 1 1;
            width: 100%;
            height: 100%;
            .widgetWrap {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                width: 100%;
                padding: 2.5rem 2rem;
                
                .bismillah {
                    max-width: 160px;
                    filter: invert(13%) sepia(5%) saturate(3027%) hue-rotate(212deg) brightness(98%) contrast(86%);
                    margin-bottom: .25rem;
                }
                .title {
                    color: #535159;
                    font-family: "Cycles Eleven", Sans-serif;
                    margin-top: 1rem;
                    font-size: 1rem;
                    font-weight: bold;
                }
                .desc {
                    color: #535159;
                    margin-top: .25rem;
                    font-size: 14px;
                }

                .profileContent {
                    display: flex;
                    margin: 1rem 0 1rem;
                    .profilePic {
                        width: 5rem;
                        height: auto;
                        margin: .5rem 1rem;
                    }
                }
                .profilePerson {
                    display: flex;
                    flex-direction: column;
                    margin: .5rem 0;
                    h3 {
                        outline: 1px;
                        text-align: center;
                        color: #302d3b;
                        font-family: "Murray Hill", Sans-serif;
                        font-size: 2rem;
                        font-weight: 700;
                        margin: 0;
                    }
                    span {
                        max-width: 300px;
                        margin: .25rem;
                    }
                    .contact {
                        font-family: "Cycles Eleven", Sans-serif;
                        cursor: pointer;
                        color: #535159;
                        font-size: 1rem;
                        font-weight: bold;
                        margin: 0;
                        margin-bottom: .25rem;
                        &:hover {
                            text-decoration: underline;
                        }
                        i {
                            margin: 0;
                            font-size: 1rem;
                            margin-right: .25rem;
                        }
                    }
                }
                i {
                    font-weight: bold;
                    margin: .75rem 0;
                    font-size: 2rem;
                    color: #535159;
                }
            }
        }
    }

    span {
        font-size: 14px;
        text-align: center;
        color: #302d3b;
        line-height: 1.4em;
        letter-spacing: 1px;
        max-width: 380px;
      }
}


/* Mobile devices */
@media only screen and (max-width: 767px) {
    .BrideContainer {
        width: 100% !important;
        .widgetWrap {
            align-self: center;
            padding: 2rem 1.5rem !important;
            
            .bismillah {
                max-width: 160px;
                filter: invert(13%) sepia(5%) saturate(3027%) hue-rotate(212deg) brightness(98%) contrast(86%);
                margin-bottom: .25rem;
            }
            .title {
                margin-top: .5rem !important;
                font-size: 14px !important;
                font-weight: bold;
            }
            .desc {
                margin-top: .25rem !important;
                font-size: .75rem !important;
            }

            .profileContent {
                display: flex;
                margin: .5rem 0 .5rem !important;
                .profilePic {
                    width: 3rem;
                    height: auto;
                    margin: .5rem 1rem;
                }
            }
            .profilePerson {
                display: flex;
                flex-direction: column;
                margin: .5rem 0;
                h3 {
                    outline: 1px;
                    font-size: 1.75rem !important;
                    font-weight: 700;
                }
                span {
                    max-width: 300px;
                    margin: .25rem;
                    font-size: 14px !important;
                }
                .contact {
                    font-size: 1rem !important;
                    &:hover {
                        text-decoration: underline;
                    }
                    i {
                        margin: 0;
                        font-size: 1rem;
                        margin-right: .25rem;
                    }
                }
            }
            i {
                font-weight: bold;
                margin: .75rem 0;
                font-size: 2rem;
                color: #535159;
            }
        }
    }
}

@media only screen and (max-height: 620px) {
    .BrideContainer {
        width: auto;
        .WidgetContainer {
            .populated {
                .widgetWrap {
                    padding: 2rem !important;
                    .title {
                        margin-top: .5rem !important;
                    }
                    .profileContent {
                        margin: 1rem 0 .5rem !important;
                        .profilePic {
                            width: 4.5rem !important;
                            margin: .5rem 1rem 0 !important;
                        }
                    }
                    i {
                        margin: .5rem 0;
                    }
                }

            }
        }
    }
}
  
/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .BrideContainer {
        width: 100% !important;
    }
}

/* Desktops and larger screens */
@media only screen and (min-width: 1024px) {
    .BrideContainer {
        width: 480px !important;
    }
}
