@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Inter:wght@300;400;500;600&display=swap');
@import "./assets/FontAwesome/css/all.min.css";

@font-face {
  font-family: 'Murray Hill';
  src: url(./assets/fonts/murrayhillboldregular.ttf);
}

@font-face {
  font-family: 'Andis';
  src: url(./assets/fonts/andisregular.otf);
}

@font-face {
  font-family: 'Cycles Eleven';
  src: url(./assets/fonts/cycleseleven.ttf);
}

body {
  margin: 0;
  padding: 0;
  // font-family: 'Corinthia', cursive;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainContainer {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  width: 100%;
  height: 100%;
  overflow: unset;

  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    max-height: 100dvh;
    background-color: #FAF7F7;
  }
}


.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;

	&--one {
		animation-duration: 1s;
		animation-delay: -0.5s;		
	}
	
	&--two {
		animation-duration: 0.9s;
		animation-delay: -0.75s;
	}
	
	&--three {
		animation-duration: 1.25s;
		animation-delay: -0.25s;
	}
	
	&--four {
		animation-duration: 1.1s;
		animation-delay: -0.5s;
	}

}

.bird-container {
	position: absolute;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	&--one {
    top: 20%;
    left: -10%;
		animation-duration: 15s;
		animation-delay: 1s;
	}
	
	&--two {
    top: 20%;
    left: -10%;
		animation-duration: 16s;
		animation-delay: 2s;
	}
	
	&--three {
    top: 5%;
    left: -10%;
		animation-duration: 14.6s;
		animation-delay: 5s;
	}
	
	&--four {
    top: 5%;
    left: -10%;
		animation-duration: 16s;
		animation-delay: 5s;
	}
	
}

@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
	
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}

@keyframes fly-right-two {
	
	0% {
		transform: translateY(-2vh) translateX(-10vw) scale(0.5);
	}
	
	10% {
		transform: translateY(0vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(-4vh) translateX(30vw) scale(0.6);
	}
	
	30% {
		transform: translateY(1vh) translateX(50vw) scale(0.45);
	}
	
	40% {
		transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.45);
	}
	
	51% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
}

@media only screen and (max-width: 767px) {
  .content {
    width: 100% !important;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .content {
    width: 100% !important;
  }
}

/* Desktops and larger screens */
@media only screen and (min-width: 1024px) {
  .content {
    max-width: 480px !important;
  }
}