@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Inter:wght@300;400;500;600&display=swap');
@import "./assets/FontAwesome/css/all.min.css";

@font-face {
  font-family: 'Murray Hill';
  src: url(./assets/fonts/murrayhillboldregular.ttf);
}

@font-face {
  font-family: 'Andis';
  src: url(./assets/fonts/andisregular.otf);
}

@font-face {
  font-family: 'Cycles Eleven';
  src: url(./assets/fonts/cycleseleven.ttf);
}

body {
  margin: 0;
  padding: 0;
  // font-family: 'Corinthia', cursive;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainContainer {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  width: 100%;
  height: 100%;
  overflow: unset;

  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    max-height: 100dvh;
    background-color: #FAF7F7;
  }
}

@media only screen and (max-width: 767px) {
  .content {
    width: 100% !important;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .content {
    width: 100% !important;
  }
}

/* Desktops and larger screens */
@media only screen and (min-width: 1024px) {
  .content {
    max-width: 480px !important;
  }
}